@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section nav{
   @Html.Action("UserPage")
}
<div id="replace">
    @{
    //Html.RenderAction("NextSignList", "List");
    }
</div>
