.container ul {
    margin: 0;
    padding: 0;
}

.container li {
    cursor: pointer;
    height: 30px;
    width: 200px;
    background-color: #FFC;
    line-height: 30px;
    text-indent: 1em;
    font-size: 16px;
}

.container .change {
    cursor: pointer;
    height: 30px;
    width: 200px;
    background-color: #C1F9CC;
    line-height: 30px;
    text-indent: 1em;
    font-size: 12px;
}

.container .current {
    cursor: pointer;
    height: 30px;
    width: 200px;
    background-color: #F66;
    line-height: 30px;
    text-indent: 1em;
    font-size: 12px;
}
