* {
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100%;
    height: 40px;
    background-color: aquamarine;
    position: relative;
    margin-bottom:15px;
}

#headinfo {
    width: 30%;
    height: 50%;
    float: right;
    position: absolute;
    bottom: 0px;
    right: 10px;
    align-content:center;
    align-items:center;
    min-width:400px;
}

#greet {
    float: left;
    width: 30%;
    height: 100%;
}

#timeshow {
    width: 45%;
    height: 100%;
    float: left;
}

#logout {
    width: 10%;
    height: 100%;
    float: right;
}

#nav {
    float:left;
    width: 10%;
    margin-left:5px;
    text-align:center;
    min-width:70px;
}

#content {
    float: right;
    width:80%;
}