@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckLoad</title>
    <script type="text/javascript">
        alert('Error! Please Login Again!');
        self.location.href = '/Login/Index';
    </script>
</head>
<body>
</body>
</html>
