@model UDS.Models.BGWJInfo

@using (Ajax.BeginForm("BGWJInfo", new { id = ViewBag.Id, isOld = ViewBag.Old }, new AjaxOptions() { UpdateTargetId = "replace", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="text-align:center">
        <ul style="list-style:none; width: 80%">
            <li>明细：</li>
            <li style="width:100%; display:inline">
                @Html.TextAreaFor(model => model.Details, new { style = "width: 100%"})
                @Html.ValidationMessageFor(model => model.Details)
            </li>
        </ul>
    </div>
    if (ViewBag.Display == 1)
    {
        <script src="~/Scripts/jquery-1.8.2.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <div style="width:100%; text-align:center">
            <input type="submit" value="保存" id="save" name="save" />
            <input type="submit" value="发送" id="send" name="send" />
        </div>
    }
}